<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/shop.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li id="hi">Hi <%= user.name %>
                </li>
                <li id="money">£<%= user.balance %>
                </li>
                <li id="team">Team <%= user.team %>
                </li>
                <a href="/logout">
                    <li style="float:right"><button id="logbtn">Logout</button></li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="product">
        <div id="p1">
            <h1 id="pname">
                <%= productarray[0].name %>
            </h1>
            <h2>Owned:<%= user.stock.p1 %>
            </h2>
            <form action="/buyproduct1" method="POST" id="myform1">
                <label for="productprice" class="pprice" id="pprice">
                    <%= productarray[0].price %>
                </label><br>
                <label for="img" class="img"><img src="img/ayeezy.jpg" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform1" value="buy" id="buyp1">Buy</button>
        <button class="btn" type="submit" form="myform1" value="sell" formaction="/sellproduct1">Sell</button>
    </div>
    <div class="product">
        <div id="p2">
            <h1 id="pname">
                <%= productarray[1].name %>
            </h1>
            <h2>Owned:<%= user.stock.p2 %>
            </h2>
            <form action="/buyproduct2" method="POST" id="myform2">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[1].price %>
                </label><br>
                <label for="img" class="img"><img src="img/bale.jpg" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform2" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform2" value="sell" formaction="/sellproduct2">Sell</button>
    </div>
    <div class="product">
        <div id="p3">
            <h1 id="pname">
                <%= productarray[2].name %>
            </h1>
            <h2>Owned:<%= user.stock.p3 %>
            </h2>
            <form action="/buyproduct3" method="POST" id="myform3">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[2].price %>
                </label><br>
                <label for="img" class="img"><img src="img/crocs.webp" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform3" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform3" value="sell" formaction="/sellproduct3">Sell</button>
    </div>
    <div class="product">
        <div id="p4">
            <h1 id="pname">
                <%= productarray[3].name %>
            </h1>
            <h2>Owned:<%= user.stock.p4 %>
            </h2>
            <form action="/buyproduct4" method="POST" id="myform4">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[3].price %>
                </label><br>
                <label for="img" class="img"><img src="img/dunkBlack.jpg" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform4" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform4" value="sell" formaction="/sellproduct4">Sell</button>
    </div>
    <div class="product">
        <div id="p5">
            <h1 id="pname">
                <%= productarray[4].name %>
            </h1>
            <h2>Owned:<%= user.stock.p5 %>
            </h2>
            <form action="/buyproduct5" method="POST" id="myform5">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[4].price %>
                </label><br>
                <label for="img" class="img"><img src="img/dunkBlue.webp" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform5" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform5" value="sell" formaction="/sellproduct5">Sell</button>
    </div>
    <div class="product">
        <div id="p6">
            <h1 id="pname">
                <%= productarray[5].name %>
            </h1>
            <h2>Owned:<%= user.stock.p6 %>
            </h2>
            <form action="/buyproduct6" method="POST" id="myform6">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[5].price %>
                </label><br>
                <label for="img" class="img"><img src="img/heels.webp" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform6" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform6" value="sell" formaction="/sellproduct6">Sell</button>
    </div>
    <div class="product">
        <div id="p7">
            <h1 id="pname">
                <%= productarray[6].name %>
            </h1>
            <h2>Owned:<%= user.stock.p7 %>
            </h2>
            <form action="/buyproduct7" method="POST" id="myform7">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[6].price %>
                </label><br>
                <label for="img" class="img"><img src="img/j1Grey.webp" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform7" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform7" value="sell" formaction="/sellproduct7">Sell</button>
    </div>
    <div class="product">
        <div id="p8">
            <h1 id="pname">
                <%= productarray[7].name %>
            </h1>
            <h2>Owned:<%= user.stock.p8 %>
            </h2>
            <form action="/buyproduct8" method="POST" id="myform8">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[7].price %>
                </label><br>
                <label for="img" class="img"><img src="img/j1Blue.jpg.webp" alt="" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform8" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform8" value="sell" formaction="/sellproduct8">Sell</button>
    </div>
    <div class="product">
        <div id="p9">
            <h1 id="pname">
                <%= productarray[8].name %>
            </h1>
            <h2>Owned:<%= user.stock.p9 %>
            </h2>
            <form action="/buyproduct9" method="POST" id="myform9">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[8].price %>
                </label><br>
                <label for="img" class="img"><img src="img/yeezyRunner.png.webp" alt="" width="220"
                        height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform9" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform9" value="sell" formaction="/sellproduct9">Sell</button>
    </div>
    <div class="product">
        <div id="p10">
            <h1 id="pname">
                <%= productarray[9].name %>
            </h1>
            <h2>Owned:<%= user.stock.p10 %>
            </h2>
            <form action="/buyproduct10" method="POST" id="myform10">
                <label for="productprice" class="pprice" name="pprice">
                    <%= productarray[9].price %>
                </label><br>
                <label for="img" class="img"><img src="img/yeezySlide.jpg.webp" alt="" width="220"
                        height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform10" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform10" value="sell" formaction="/sellproduct10">Sell</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        $('#buyp1').click(function () {
            let value = document.getElementById('pprice')
            var oldPriceString = parseInt(value);
            alert("the price is " + value + " of data type " + typeof (value));

        })
    </script>


</body>

</html>